@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
* {
    font-family: 'Dosis', sans-serif;
} 
body {
    padding: 0;
    margin: 0;
    background-color: #262626;
}
nav {
    background-color: black;
    color: white;
    padding: 25px 50px;
    width: calc(100% - 100px);
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 5%;
}
nav a:nth-child(2) {
    float: right;
}
nav a:hover {
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
}
main div:not(#styled, #buttons) {
    margin: 50px 10%;
    border: 1px solid white;
    box-shadow: 2px 2px 5px #f5f9ff;
    border-radius: 20px;
    color: white;
    padding: 5%;
}
i {
    background-color: white;
}
input {
    border: none;
    background-color: #2d2e2e;
    color: white;
    display: block;
    font-size: 20px;
    height: 40px;
    margin: 5% 0;
    padding: 0 5px;
    border-radius: 5px;
    width: 90%;
}
#special {
    position: relative;
}
button {
    background-color: #2d2e2e;
    color: white;
    box-shadow: 5px 5px #f5f9ff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    margin-right: 10px;
}
button:hover {
    text-shadow: 2px 2px 5px #f5f9ff;
    box-shadow: 3px 3px #f5f9ff;
    font-weight: bold;
    cursor: pointer;
}
#styled {
    position: relative;
    margin: 50px 25%;
    aspect-ratio: 1/1;
    color: white;
}
#styled span {
    position: absolute;
    left: 5px;
    display: none;
    transition: 1s ease;
    font-size: 20px;
}
#settings {
    text-align: center;
}
#settings p {
    font-size: 20px;
}
#settings span {
    border-bottom: 1.5px dotted white;
}
#settings span:hover {
    text-shadow: 2px 2px 5px #f5f9ff;
    cursor: pointer;
    font-weight: bold;
}
#light #settings span {
    border-bottom: 1.5px dotted black;
}
#light #settings span:hover {
    text-shadow: 2px 2px 5px black;
}
#light {
    background-color: white;
}
#light div:not(#styled, #buttons) {
    border: 1px solid black;
    color: black;
    box-shadow: 2px 2px 5px #262626;
}
#light input {
    background-color: white;
    color: black;
    border: 1px solid black;
}
#light button {
    background-color: white;
    color: black;
    box-shadow: 5px 5px #262626;
}
#light #styled {
    color: black;
}
@keyframes square {
    25% {left: calc(100% - 5px); top: 5px;}
    50% {left: calc(100% - 5px); top: calc(100% - 5px)}
    75% {left: 5px; top: calc(100% - 5px);}
    100% {left: 5px; top: 5px;}
}
@keyframes wave {
    0% {font-size: 0px;}
    100% {font-size: 50px;}
}
@keyframes rainbow {
    0% {color: red;}
    20% {color: orange;}
    40% {color: yellow;}
    60% {color: green;}
    80% {color: blue;}
    100% {color: purple;}
}
@keyframes snake {
    10% {left: calc(100% - 5px); top: 5px}
    20% {left: calc(100% - 5px); top: calc(100% - 5px)}
    30% {left: 5px; top: calc(100% - 5px)}
    40% {left: 5px; top: calc(5px + 20%)}
    50% {left: calc(80% - 5px); top: calc(5px + 20%)}
    60% {left: calc(80% - 5px); top: calc(80% - 5px)}
    70% {left: calc(5px + 20%); top: calc(80% - 5px)}
    80% {left: calc(5px + 20%); top: calc(5px + 40%)}
    90% {left: 45%; top: calc(5px + 40%)}
    100% {left: 45%; top: 50%}
}
@keyframes diamond {
    0% {left: calc(50% - 5px); top: 5px; transform: rotate(90deg)}
    25% {left: calc(100% - 5px); top: calc(50% - 5px); transform: rotate(180deg)}
    50% {left: calc(50% - 5px); top: calc(100% - 5px); transform: rotate(270deg)}
    75% {left: 5px; top: calc(50% - 5px); transform: rotate(360deg)}
    100% {left: calc(50% - 5px); top: 5px; transform: rotate(90deg)}
}